.EightQueens {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.EightQueens-header, .EightQueens-header a {
  font-size: 70%;
  font-family: monospace;
  margin-bottom: 20px;
  text-decoration: none;
}
