.EightQueens {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EightQueens-header {
  display: flex;
  flex-direction: row;
  margin: 0 0 5px 0;
}

.EightQueens-instructions {
  font-size: 90%;
}