.EightQueens {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EightQueens-header {
  display: flex;
  flex-direction: row;
  margin: 0 0 5px 0;
}

.EightQueens-instructions {
  font-size: 90%;
}

.EightQueens-restart {
  margin-top: 8px;
}

.EightQueens-restart a {
  border: 1px solid darkgrey;
  color: darkgrey;
  font-size: 85%;
  padding: 5px;
  text-decoration: none;
}
