body {
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif, "Helvetica Neue";
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
