.EightQueens-status {
    font-size: 14px;
    padding: 8px;
}

.EightQueens-playing {
    background-color: #fcebb4;
    color: black;
    padding: 2px;
}

.EightQueens-win {
    background-color: black;
    color: #00ee00;
    font-weight: bold;
    padding: 2px;
}
